
html {
  box-sizing: border-box;
  background: transparent;
  overflow: hidden;
  cursor: default;

  font-family: 'Inter', sans-serif;

  background: #f2f2f2;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.flex{
  display: flex;
}

.validation {
  margin-left: 24px;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.validation--visible {
  opacity: 1;
}

.window-drag-handler {
  height:36px;
}

.content {
  padding: 0 24px 24px 24px;
}

.logo {
  width: 80px;
  margin-top: -5px;
  margin-bottom: 10px;
  float: right;
}

h1 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.hint {
  margin-bottom: 18px;
}

.textarea-output {
  width: 100%;
  height: 640px;
  background: white;
  padding: 15px;

  font-family: monospace;
  font-size: 15px;
  margin-bottom: 15px;
}

.button {
  font-size: 16px;
  padding: 11px 14px;
  margin-bottom: 10px;
  border: none;

}

.button--primary {
  background-color: #16BDCA;
  color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  font-weight: 700;

}

.button--primary:hover {
  opacity: 0.9;
}
.button--primary:active {
  opacity: 0.8;
}


