# build artefacts
tailwind-config-exporter.sketchplugin

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

# WebStorm
.idea

# sketch
# sketch-assets
Sketchwind exporter.sketchplugin/Contents/
Sketchwinexporter.sketchplugin/Contents/Resources/
Sketchwind exporter.sketchplugin/Contents/Resources/_webpack_resources/*
