/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;

  font-family: 'Inter', sans-serif;

  background: #f2f2f2;
  padding: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.logo {
  width: 200px;
  margin-bottom: 10px;
}

.textarea-output {
  background: white;

}
